<md-content flex>
  <nav-toolbar></nav-toolbar>
  <div layout="row" >
    <div flex></div>
    <div flex>
      <md-card class="login-box">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline" style="text-align:center;">
              Parksense Admin Panel
            </span>
          </md-card-title-text>
        </md-card-title>
        <md-card-body layout-padding>
          <form name="loginForm">
            <md-input-container class="md-block">
              <label>Email</label>
              <input required type="email" name="Email" ng-model="main.email"/>
            </md-input-container>
            <md-input-container class="md-block">
              <label>Password</label>
              <input required type="password" name="Password" ng-model="main.password"/>
            </md-input-container>
            <p ng-show="main.loginError" style="text-align:center;color:red"> Login Failed</p>
          </form>
        </md-card-body>
        <md-button ng-click="main.login()" class="md-raised md-primary">Login</md-button>
      </md-card>
    </div>
    <div flex>
  </div>
</md-content>