<md-content flex style="height: 100%;">
  <nav-toolbar></nav-toolbar>
  <div layout="row" flex class="layout-height">
    <md-content style="height: 100%;" flex>
      <div style="height: 100%;" layout="row">
        <div flex>
          <park-list></park-list>  
        </div>
        <div style="height: 100%;" flex="35">
          <map></map>
        </div>
      </div>
    </md-content>
  </div>
</md-content>