<md-content flex style="height: 100%;">
  <nav-toolbar></nav-toolbar>
  <div layout="row" flex class="layout-height">
    <md-content style="height: 100%;" flex>
      <div style="height: 100%;" layout="row">
        <div flex="30">
          <md-list class="md-dense" flex style="padding-top:0px">
            <md-subheader class="md-no-sticky">{{main.listTitle}}</md-subheader>
            <md-divider ></md-divider>
            <md-list-item ng-click="main.navigateToPark(item)" class="md-2-line" ng-repeat="item in main.list">
              <div class="md-list-item-text" ng-class="{'md-offset': phone.options.offset }">
                <h3> {{item.name}} - <small>Occupation: {{item.occupation}}/{{item.size}}</small></h3>
                <p> 
                  Created At: {{main.percentage(item.createdAt)}} 
                </p>
              </div>
          </md-list> 
        </div>
        <div style="height: 100%;padding-top: 2px;border-left: 1px solid rgba(0,0,0,0.12);" flex>
          <md-subheader class="md-no-sticky">Date Filter - 
            From: 
            <md-datepicker ng-model="main.minDate" ng-change="main.updateMinDate()" md-placeholder="Enter date"></md-datepicker>
            To: 
            <md-datepicker ng-model="main.maxDate" ng-change="main.updateMaxDate()" md-placeholder="Enter date"></md-datepicker>
          </md-subheader>
          <md-divider ></md-divider>
          <map-timetable park="{{main.park}}" minDate="{{main.minDate}}" maxDate="{{main.maxDate}}"></map-timetable>
        </div>
      </div>
    </md-content>
  </div>
</md-content>